<!-- routerLinkActive Adds a css class when the routerlink is active... -->
	<nav *ngIf="is_visible()">
		<a routerLinkActive="active" routerLink="/all-dishes">Dishes and categories</a>
		<a routerLinkActive="active" routerLink="/planner">Planner</a>
		<a routerLink="/logout">Logout</a>
	</nav>

<!--
	<p class="fix">This shit should be hidden if the user is logged</p>
	<p class="fix">This shit should also be hidden if we are in the register or login pages</p>
	<div>
		<a routerLink="/register">Register</a>
		<a routerLink="/login">Login</a>
	</div>
-->
