		<div class="row">
			<div class="col-md-12">
				<div id="carousel-container"></div>
			</div>
		</div>		

		<div id="selling-points" class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row color-bg-clear">
					<div class="col-md-4 extra-padding ">
						<img src="assets/img/ico/question-mark-icon.svg" />
						<h2>¿Qué es?</h2>
						<p>
							Phoodo es la solución a un problema muy concreto y real: organizar la comida y las compras de la semana!.
						</p>
						<p>
							Phoodo integra tu propio <b>calendario</b>, <b>recetario</b> y <b>lista de la compra</b>, siempre disponibles y desde cualquier dispositivo.
						</p>
					</div>
					<div class="col-md-4 extra-padding dotted-borders">
						<img src="assets/img/ico/users-icon.svg" />
						<h2>¿Para quién?</h2>
						<p>
							Todo el mundo puede usar Phoodo. Phoodo es completamente <b>gratis</b> y sólo requiere de un registro rápido.
						</p>
						<p>
							No quiero tu dinero, ni tus tarjetas de crédito ni mandarte spam. Francamente, no quiero saber nada de ti.
						</p>
					</div>
					<div class="col-md-4 extra-padding">
						<img src="assets/img/ico/login-icon.svg" />
						<h2>Acceder</h2>
						<app-login-form></app-login-form>
						<p>
							... o <a routerLink="/registro">registrate</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
